body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    width: 800px;
    min-height: 500px;
    border: 1px solid black;
    outline: none;
    padding: .2in .2in;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.save-btn {
    margin-bottom: 30px;
}

.toolbar {
    width: 840px;
    display: flex;
    justify-content: flex-start;
}

.toolbar-icon {
    font-size: 20px;
    cursor: pointer;
}

.toolbar-icon:hover {
    color: blue;
}

.toolbar-btn {
    background: none;
    border: none;
}